apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: Loki
    access: proxy
    url: http://127.0.0.1:3100
    isDefault: true
    jsonData:
      derivedFields:
        # Dette gjør at vi senere kan lage klikkbare lenker fra logger til traces
        # (Ikke kritisk nå, men god praksis)
        - datasourceUid: tempo
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"

  - name: Prometheus
    type: prometheus
    uid: Prometheus
    access: proxy
    url: http://127.0.0.1:9090
    isDefault: false
